body{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 16px;
   color: aliceblue;
}
h2,p{
   
    margin: 0;
}

h2{
    padding-top: 10px;
    font-size: 20px;
  line-height: 2ems;
}

header, footer{
    height: 50px;
    padding: 10px;
}
img{
    max-height: 100%;
    float: right;
}
.card{
    width: 450px;
    height: 250px;
    background-color: blue;
    border-radius: 25px;
    position: center;
    
}
article{
    height: 148px;
    
}
header{
    background: linear-gradient(180deg, rgb(16, 12, 100) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 100%);
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}
footer{
    background: linear-gradient(360deg, rgb(7, 3, 80) 0%, rgba(9,9,121,1) 45%, rgba(0,212,255,1) 90%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
p{
    padding: 10px;
}